img, video{ 
	max-width: 100% !important; 
	height: auto;
}

.lead-image{
	margin-bottom: 2.8rem;
}

/* #WordPress Images
================================================== */

.gallery .gallery-item img{
	border:none !important;
}

.gallery dl{
	margin: 0;
	padding: 0;
	border: none;
}

.alignnone{
	margin: 5px 20px 20px 0;
}

.aligncenter,div.aligncenter{
	display: block;
	margin: 5px auto 5px auto;
}

.alignright{
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft{
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter{
	display: block;
	margin: 5px auto 5px auto;
}

a img.alignright{
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone{ 
	margin: 5px 20px 20px 0;
}

a img.alignleft{
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption{
	max-width: 96%; /* Image does not overflow the content area */
	padding: 8px 3px 0;
	text-align: center;
}

.gallery .gallery-caption{
	padding: 8px 10px 10px;
	text-align: center;
}

.gallery .gallery-item dt a img{
	display: inline-block;
	margin: 0 auto;
}

.wp-caption.alignnone{ 
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft{ 
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright{
	margin: 5px 0 20px 20px;
}

.wp-caption img{
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 17px;
	margin: 1rem 0;
	padding: 5px 4px;
}
